.chatWrapper,
.selectUserWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.selectUserWrapper {
  align-items: center;
  justify-content: center;
}

.chatWrapper {
  flex-direction: column;
  padding: 25px 35px;
}

.header {
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid var(--gray-100);
  margin: -25px -35px;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messagesWrapper {
  height: 100%;
  margin: 25px 0 35px 0;
  overflow-y: auto;
  padding: 10px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-200);
    border-radius: 10px;
  }
}
